
#body{
     background-color: #3b4fa8;
}

#title{
     text-align: center;
     font-size: 40px;
     width: 100%;
     margin-top: 2%;
     color: white;

}

#loginBox{
     width: 70%;
     border-radius: 10px;
     margin-left: 15%;
     padding: 25px;
     background-color: #e3e3e3;
}

#signUpBox{
     width: 35%;
     border-radius: 25px;
     margin-left: 33%;
     margin-top: 3%;
     padding: 25px 25px 5px 25px;
     background-color: #e3e3e3;
}



#errorBox{
     width:fit-content;
     padding: 1%;
     margin-top: 1%;
     margin-left: 33%;
     border-radius: 10px;
     color: white;
     display: none;
}

#errorBoxAdd{
     width:fit-content;
     padding: 1%;
     margin-bottom: 10px;
     border-radius: 10px;
     color: white;
     display: none;
}

#errorBoxEdit{
     width:fit-content;
     padding: 1%;
     margin-bottom: 10px;
     border-radius: 10px;
     color: white;
     display: none;
}

#errorBoxLogin{
     width:fit-content;
     padding: 1%;
     margin-top: 1%;
     margin-left: 15%;
     border-radius: 10px;
     color: white;
     display: none;

}

#loginButton{
     margin-left: 35%;
     width: 30%;
}

#signUpButton{
     margin-left: 35%;
     width: 30%;
}

